
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    overflow: hidden;
}

#banner-kawasaki {
    background-image: url('../images/Motos/banner-kawasaki.svg');
    height: 100vh;
    width: 100vw;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 90px;
}

header {
    display: flex;
    justify-content: space-between;
}

header h2 {
    color: white;
    font-size: 22px;
    text-align: center;
    font-family: "Keania One";
    font-weight: 400;
}

header .Tipo {
    display: flex;
    width: 220px;
    justify-content: space-between;
    align-items: center;
}

.flexCategori {
    display: flex;
    align-items: center;
}

#imagem img {
    height:450px;
}

.filter,
.filterDucati,
.filterAdiventure {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 115px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    transition: 0.9s;
    display: none;
}


.filter a,
.filterDucati a,
.filterAdiventure a {
    margin-top: 2px;
    font-size: 20px;
    font-family: "Judson";
    text-decoration: none;
    color: black;
}

header #Categoria img {
    height: 10px;
    margin-left: 8px;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.5s;
}

header #Categoria h3,
header #Contato h3 {
    font-family: "Judson";
    color: white;
    font-weight: bold;
    font-size: 20px;
}


.Flex {
    display: flex;
    margin-top: 150px;
    margin-left: 50px;
    font-family: "Judson";

}

.Flex #Sobre h3 {
    color: white;
    font-size: 70px;
    font-weight: bold;
}

#Sobre {
    z-index: 333;
}

#Sobre #texto {
    color: white;
    font-size: 20px;
    width: 600px;
    margin-top: 10px;
}

#Sobre #Valor {
    color: white;
    margin-top: 35px;
    font-size: 20px;
}

#Sobre #Valor span {
    font-size: 25px;
    font-weight: bold;
}

#ButomKawasaki {
    margin-top: 30px;
    background-color: #4bbc2ba3;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    cursor: pointer;
    transition: 0.5s;
}

#ButomKawasaki:hover {
    background-color: rgb(2, 39, 8);
    color: white;
    transition: 0.5s;
}

#imagem img {
    width: 725px;
    margin-left: -180px;
}

#Bolinhas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    margin-left: 650px;
    position: absolute;
}

#Bolinha1,
#Bolinha2 {
    width: 15px;
    height: 15px;
    background-color: #9e9c9c;
    border-radius: 100%;
    margin-left: 20px;
    cursor: pointer;
    z-index: 333;

}

#Bolinhas .active {
    background-color: rgb(255, 255, 255);
}

#Mover-Slide {
    z-index: 222;
    margin-top: -45px;
    margin-left: 1200px;
}

#Mover-Slide img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

#imagem #imagem-ducati {
    height: 470px;
    margin-top: -40px;
}

#banner-ducati {
    background-image: url("../images/Motos/bannerDucati.svg");
    height: 100vh;
    width: 100vw;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 90px;
}
#ButonMercedes {
    background-color: #FF7676;
    color: white;
    margin-top: 30px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    cursor: pointer;
    transition: 0.5s;
}

#ButonMercedes:hover {
    background-color: rgb(74, 1, 1);
}

#ducati-Bolinha1,
#ducati-Bolinha2 {
    width: 15px;
    height: 15px;
    background-color: #9e9c9c;
    border-radius: 100%;
    margin-left: 20px;
    cursor: pointer;
    z-index: 333;
}

#Mover-mercedes {
    z-index: 222;
    margin-top: -45px;
    right: 0;
    margin-right: 50px;
}

#banner-adventure {
    background-image: url("../images/Motos/bannerAdienture.svg");
    height: 100vh;
    width: 100vw;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 90px;
}

#imagem #imagem-adventure {
    margin-top: -40px;
}

#Adiventure-Bolinha1,
#Adiventure-Bolinha2 {
    width: 15px;
    height: 15px;
    background-color: #9e9c9c;
    border-radius: 100%;
    margin-left: 20px;
    cursor: pointer;
    z-index: 333;
}

#ButonAdiventure {
    background-color: #007195;
    color: white;
    margin-top: 30px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    cursor: pointer;
    transition: 0.5s;
}

#ButonAdiventure:hover {
    background-color: rgb(2, 2, 38);
}